/* .result-choice-container {
  border: 1px solid red;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-text {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Roboto';
}
.result-choices-img {
  width: 100%;
}
.game-status-heading {
  color: #fff;
} */
